<header>
    <nav>
        <a href="/">Acueil</a> |
        <a href="/dashboard">Dashboard</a> |
            <a href="/catways">Catways</a> |
            <a href="/logout">Déconnexion</a> |
            <a href="/login">Connexion</a> 
    </nav>
</header>
