<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title></title>
</head> 
<body>
    <%- include('partials/header') %>
    <main>
        <h1>Port de Plaisance Russell</h1>
    </main>
    <%- include('partials/footer') %>
    
</body>
</html>